VITE_SERVER_URL=http://localhost:4040
VITE_SOCKET_URL=http://localhost:4041
VITE_CLIENT_URL=http://localhost:3000

VITE_CLIENT_ID=646414000400-2hlbv9fr5pvoea9o0cuvqusoq7uaak8o.apps.googleusercontent.com

VITE_GEMINI_API_KEY=AIzaSyATQtA6XvqVC0tLIAvunnhUxIX5Ak372v4
VITE_GEMINI_URL=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=